<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.homework.Mapper.EmployeesMapper">
    <select id="getAllEmployees" resultType="Employees">
        select * from t_employees
    </select>

    <insert id="addEmployee" parameterType="Employees">
        insert  into t_employees (id,emp_name,emp_phone_number,emp_address,emp_identity,create_time,update_time)
        values (#{id},#{empName},#{empPhoneNumber},#{empAddress},#{empIdentity},#{createTime},#{updateTime})
    </insert>
</mapper>